<div class="jumbotron jumbotron-fluid jumboHeader">
    <div class="container">
        <h1 class="display-4">WD6</h1>
        <p class="lead">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque debitis"</p>
    </div>
</div>