body{
    background-color: lightgoldenrodyellow !important;
    text-align: center !important;
    margin:10px !important;
}
table{
    color: #1b1e21 !important;
}
h1{
    font-size: 28px !important;
}
