.product{
    margin-top: 20px;
    padding: 5px;
}
.product .product-info{
    color: #7f7f7f;
}
.price{
    font-weight: bold;
    font-size: 18px;
}
.addCart{
    background-color: #7f7f7f;
    border-style: none;
}
.addCart:hover{
    background-color: darkgray;
}
.jumboHeader #carouselExampleIndicators .carousel-inner{
    height: 500px !important;
}
.navbar{
    background: darkorange !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    color: darkslategrey !important;
}