<div class="row">
    <div class=" col-sm-6 col-md-3 offset-md-4
     offset-sm-3" >
        <h1>Checkout</h1>
        <h4>Your Total: ${{total}}</h4>
        <form action="/checkout" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_LnuUKSJdPbjjgg04CicCMTPI"
                    data-amount= {{math total '*' 100}},
                    data-name="WD6"
                    data-description="Your Purchase"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto">
            </script>
        </form>
    </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="javascripts/checkout.js"></script>